{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="police-text" style="text-align: center;font-size: 40px;">Création d'actualité</h1>
    <div style="margin-left: 10%;margin-right: 10%;">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}})}}

        {{ form_widget(form) }}
        <div style="text-align: center;">
            <a class="btn btn-info" href="{{ path('actualite_index') }}">Retour</a>

            <input type="submit" value="Enregistrer" class="btn btn-success"/>
        </div>
    {{ form_end(form) }}

    </div>

{% endblock %}
